.modal-wrapper {
  background: #fff;
  width: 30%;
  max-width: 800px;
  margin: 4em auto;
  transition: all 0.5s ease;
  border-radius: 0.5em;
  position: fixed;
  left: 35%;
  top: 20%;
  transform: translate(-50%, -50%);
  border: 1px solid #2c2c2c;
}

.modal-header {
  background: #2c2c2c;
  color: #e9e9e9;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5em 1em;
}

.modal-body {
  margin-bottom: 1em;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: #dd501d;
}

.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1em;
  margin: 1em 0 2em 0;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}
