@import './variables';
@import './components/hamburger/sidebar';

* {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-light);
  font-family: 'GoogleSans';
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
