* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: aqua;
  padding-left: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-weight: bold;
  margin-right: 24px;
}

.nav-links li {
  margin: 16px;
}

/*Transition Group Animation */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
