.user-stats-container {
  padding-left: 1rem;
  height: 100vh;
  z-index: 2;
  position: relative;
  opacity: 1;
}

.user-stats-container:before {
  content: ' ';
  display: block;
  background-image: url(../../images//4263202864_237c768087_o.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.2;
}

.user-title {
  margin: 0;
  z-index: 2;
  opacity: 1;
}

.user-stats {
  margin-left: 14rem;
  z-index: 2;
}
