.input-group {
  position: relative;
  margin-top: 1em;
}

.input-group .input-area {
  outline: none;
}

.input-group .input-area:valid + .label {
  top: -8px;
  padding: 0 0.2em;
  font-size: 1rem;
  color: #8d8d8d;
}

.input-group .input-area:focus {
}

.input-group .input-area:focus + .label {
  top: -8px;
  padding: 0 0.2em;
  font-size: 1rem;
  color: blue;
}

.input-group .label {
  color: #8d8d8d;
  position: absolute;
  left: 13px;
  background: #fff;
  transition: 0.1s;
}

/*STYLES*/
.textField--standard {
  border-bottom: 2px solid #dadce0;

  border-top: none;
  border-left: none;
  border-right: none;
}
.textField--standard:focus {
  border-bottom: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--filled {
  background-color: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #dadce0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
}

.textField--filled .label {
  top: 10px;
}

.textField--filled:focus {
  border-bottom: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--outline {
  border: 2px solid #dadce0;
  border-radius: 5px;
}

.textField--outline:focus {
  border: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--outline:focus + .label {
}

/*SIZES*/

.textField--small {
  padding: 0.8em 0.6em;
  font-size: 0.9rem;
}
.textField--medium {
  padding: 0.9em 0.8em;
  font-size: 1.1rem;
}
.textField--large {
  padding: 1em 1em;
  font-size: 1.3rem;
}
