.input-group {
  position: relative;
  margin-top: 1rem;
}

.input-group .input-area {
  outline: none;
}

.input-group .input-area:valid + .label {
  top: -8px;
  padding: 0 3px;
  font-size: 14px;
  color: #8d8d8d;
}

.input-group .input-area:focus {
}

.input-group .input-area:focus + .label {
  top: -8px;
  padding: 0 3px;
  font-size: 14px;
  color: blue;
}

.input-group .label {
  color: #8d8d8d;
  position: absolute;
  top: 20px;
  left: 13px;
  background: #fff;
  transition: 0.1s;
}

/*STYLES*/
.textField--standard {
  border-bottom: 2px solid #dadce0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.textField--standard:focus {
  border-bottom: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--filled {
  background-color: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #dadce0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
}

.textField--filled .label {
  top: 10px;
}

.textField--filled:focus {
  border-bottom: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--outline {
  border: 2px solid #dadce0;
  border-radius: 5px;
}

.textField--outline:focus {
  border: 2px solid blue;
  transition: 0.2s ease-in;
}

.textField--outline:focus + .label {
}

/*SIZES*/

.textField--small {
  padding: 12px 9px;
  font-size: 14px;
}
.textField--medium {
  padding: 16px 13px;
  font-size: 18px;
}
.textField--large {
  padding: 20px 17px;
  font-size: 22px;
}

/*
.textField {
  margin-top: 5px;
  border: none;
  height: 50px;
  width: 200px;
}

.textField--standard {
  background-color: transparent;
  border-bottom: 1px solid white;
}

.textField--standard:focus {
  border-bottom: 1px solid gold;
}

.textField--filled {
  background-color: #3e3e3e;
}

.textField--outline {
  border: 1px solid #3e3e3e;
  border-radius: 0.25em;
  background-color: transparent;
}


*/
