.record-form-modal-container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.form-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.record-form-modal-close-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.record-form-modal-close-btn-icon {
  padding: 0.5em;
  cursor: pointer;
}

.record-form-modal-close-btn-icon:hover {
  transform: rotateX(180deg);

  transition: 1s;
}

.form-step-slide-container {
}

.form-step-button {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: none;
  margin: 1rem;
  background-color: var(--background-light);
  opacity: 0.5;
}

.form-step-button:hover {
  opacity: 1;
}
.form-step-button:active {
  background-color: #686a70;
}
