.record-container {
  display: flex;
  flex-direction: row;
  background-color: rebeccapurple;
}

.recordItem-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  width: 22rem;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}
.title {
  margin: 0;
}

.record-details-list-container {
  display: flex;
}

.record-details-list {
  list-style: none;
  padding: 0;
  line-height: 2em;
}

.record-image {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: 3;
}
